{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "typescript": {
        "project": "**/tsconfig.json"
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "orderImportKind": "asc",
          "caseInsensitive": false
        },
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index",
          "internal",
          "object",
          "type"
        ],
        "newlines-between": "always"
      }
    ],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_[_\\d]*$",
        "varsIgnorePattern": "^_[_\\d]*$"
      }
    ],
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-namespace": "off",
    "no-relative-import-paths/no-relative-import-paths": [
      "error",
      {
        "allowSameFolder": true
      }
    ],
    "import/export": "off",
    "unused-imports/no-unused-imports": "error"
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "no-relative-import-paths",
    "unused-imports"
  ],
  "ignorePatterns": ["lib", "scripts"]
}
